
/*Partials*/
@import '_typo';

/* Farger */
$primary-color: #FF797D;
$secondary-color: #E8FF0B;


/*Effekter*/  


* {
    box-sizing: border-box;
}

body {
	background: #222;
}

.container {
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	font-weight: 100;
	font-size: 2.4rem;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 2em;
	margin: auto;
	padding: 40px 0;
}
h2{
	font-weight: 100;
	color: $primary-color;
}
.heading {
	margin: auto;
	width: 100%;
	padding: 16em 0;
}
.ikon {
	margin: auto;
	display: flex;
	height: 50px;
	width: 50px;
	}
.quote {
	font-size: 3rem;
	font-weight: 200;
	width: 70%;
	margin: 4em auto;
	clear: both;
	
}
.quote p {
	line-height: 1.1em;
}

p:first-letter {
	background: $secondary-color;
	color: #333;
	padding: 0 0.1em;
	margin: 0 0.1em 0 0;
}

.nesting_ul {
	ul{
		background: #555;
		padding: 4em;
		font-size: 1.4em;
		width: 70%;
		margin: auto;
	}
	li{
		margin-bottom: 20px;
		color: $secondary-color;
	}
}

@mixin border-radius {
	border-radius: 8em;
}

.box {
	@include border-radius;
	background: #000;
	padding: 4em;
	margin: 2em 0;
}
